html {
	font-family: 'Gill Sans', sans-serif;
	font-size: 1.2rem;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 180ch;
	padding: 1rem;
	line-height: 1.5;
}

* {
	box-sizing: border-box;
}

h1 {
	margin: 1rem 0;
	font-size: 2.5rem;
}
